<h2>FAQ</h2>

 <ul id='faq'>

   <li><div class='q'>Just the simply amazing votes should decide which one is the best ASOT?</div>

   <div class='a'>Is this accurate? I think it's good enough.

   Each week many, many people from all around the world listen to ASOT via <a href="http://di.fm">di.fm</a>. Many of them then cast their vote on the di.fm forum. I have a feeling that this database should at least give a hint at which might be the Best ASOT ever. But in the end, you decide for yourself which one you like best.

   </div>

</li>

   <li><div class='q'>Where are all the episodes from 2005, 2004 and the years before that?</div>

   <div class='a'>Unfortunately, only episodes since January 2006 (i.e. starting with #230) are considered here because I could not find the forum post (with its votes) for many of the older episodes. Therefore I made a cut at 2006 and decided to start from that.</div>

</li>


 <li><div class='q'>Are there any other excellent episodes not listed here?</div>

   <div class='a'>Yes, for sure, some of the older ones before 2006, including:

<ul>
<li><a href="http://forums.di.fm/trance/armin-van-buuren-presents-state-of-trance-episode-229-yearmix-2005-a-94022/">Episode 229, Year Mix 2005</a></li>

<li><a href="http://forums.di.fm/trance/armin-van-buuren-presents-state-of-trance-episode-228-top-20-of-2005-a-93733/">Episode 228, Top 20 of 2005</a></li>

<li><a href="http://forums.di.fm/trance/armin-van-buuren-presents-state-of-trance-episode-200-xxl-82208/">Episode 200 XXL, 4 hour show</a></li>

<li><a href="http://forums.di.fm/trance/armin-van-buuren-presents-state-of-trance-episode-182-yearmix-2004-a-94028/">Episode 182, Year Mix 2004</a></li>

<li>Episode 181, Top 20 of 2004</li>
</ul>

</div>

</li>


   <li><div class='q'>Is there any episode missing for the listed years?</div>

   <div class='a'>Yes, unfortunately. Episode 354 is missing because I could not find the di.fm forum post for it.</div>

</li>

   <li><div class='q'>Have animals or software tools been hurt during the creation of Best ASOT ever?</div>

   <div class='a'>Best ASOT ever is written in Ruby and uses <span class='gone'>Rails</span> <a href='http://www.sinatrarb.com'>Sinatra</a>. Behind the scenes, SQLite and Hpricot get heavily abused, but certainly not hurt. No animals have been hurt.</div>

</li>
 </ul>


