body { background-color: #fff; color: #333; }

body, p, ol, ul {
  /* font-family: verdana, arial, helvetica, sans-serif; */
  font-family: Georgia, serif;
  font-family: "Palatino", "Book Antiqua", serif;
  font-size:   14px;
  line-height: 19px;
}

table {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  margin-left:auto; 
  margin-right:auto;
}

h1 {
  font-size: 2em;
}

h2.updated {
 font-size: 0.5em;
}

th {
 font-family: "Palatino", "Book Antiqua", serif;
 font-size: 1.2em;
}


img {
 border: none;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  border: 1px solid #485775;
}


hr {
 color: #485775;
 width: 300px;
 padding: 0px;
}
strong {
 color: #485775;
 font-size: 1.5em;
}

a { color: #485775;}
a:visited { color: #333;}

.biglink {
  font-size: 1.5em;
}

#logodiv {
 color: #485775;
 padding: 10px;
}


.subtitle {
  font-size: 0.8em;
  color: #485775;
  padding: 0px;
  margin: 0px;
}

.logo {
 font-size: 2.5em;
  color: #485775;
  padding: 0px;
}

#contentdiv {
  padding-left: 50px;
  width: 90%;
}

#contentdiv .textonly {
  padding-left: 50px;
  width: 500px;
}

#footer p {
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
  padding: 0px;
}

.title {
  font-style: italic;
  font-family: Georgia, serif;
}

.title #title {
  font-size: 2.5em;
  font-style: normal;
  letter-spacing: 0.1em;
}

.title a {
  text-decoration: none;

}
.title strong {
  font-size: 2.5em;
  font-style: normal;
  font-family: Georgia, serif;
  letter-spacing: 0.1em;
  padding-right: 0px;
}

#faq li .q {
  font-size: 1.5em;
  font-style: italic;
  padding-bottom: 0.5em;
}

#faq li .a{
  padding-bottom: 20px;
}

#faq li {
  list-style-type: none;
}

.centered {
  text-align: center;
}

td {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.9em;
  text-align: center;
}

.left {
  text-align: left;
}

td.no {
  font-weight: bold;
}

tr.even td {
  background-color: #eee;
}

tr.odd  td {
  background-color: #fff;
}

.updated {
  background-color: #72c255;
  color: #fff;
  padding: 3px;
}

#intro {
  width: 600px;
  background-color: #fff;
  padding: 0.8em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  border: 1px solid #485775;
}

#intro strong {
 font-size: 1.0em;
}

/* Taken from Scruffy::Themes::Keynote.new.colors */
.rank_1 {color: #FDD84E; font-weight: bold;}
.rank_2 {color: #72AE6E; font-weight: bold;}
.rank_3 {color: #D1695E; font-weight: bold;}
.rank_4 {color: #8A6EAF; font-weight: bold;}
.rank_5 {color: #EFAA43; font-weight: bold;}

