body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   15px;
  line-height: 20px;
}


img {
 border: none;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  border: 1px solid #4d54b3;
}


hr {
 color: #4d54b3;
 width: 300px;
 padding: 0px;
}
strong {
 color: #4d54b3;
}

a { color: #4d54b3;}
a:visited { color: #333;}

.biglink {
  font-size: 1.5em;
}

#logodiv {
 color: #4d54b3;
 padding: 10px;
}


.subtitle {
  font-size: 0.8em;
  color: #4d54b3;
  padding: 0px;
  margin: 0px;
}

.logo {
 font-size: 2.5em;
  color: #4d54b3;
  padding: 0px;
}

#contentdiv {
  padding-left: 50px;
  width: 90%;
}

#contentdiv .textonly {
  padding-left: 50px;
  width: 500px;
}

#footer p {
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
  padding: 0px;
}

.title {
  font-style: italic;
}

.title #title {
  font-size: 2.5em;
  font-style: normal;
  letter-spacing: 0.1em;
}

.title a {
  text-decoration: none;

}
.title strong {
  font-size: 2.5em;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-right: 0px;
}

#faq li .q {
  font-style: italic;
  padding-bottom: 0.5em;
}

#faq li{
  padding-bottom: 20px;
}


ul {
  list-style-type: none;
  border: 1px solid #4d54b3; 
  width: 40%;
}

li {
  padding-bottom: 1em;
}

.rank {
  font-size: 3em;
  font-style: italic;
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 0.2em;
  padding-right: 0.2em;
}

.episode {
  font-size: 1.7em;
  padding-left: 1em;
  margin: 0;
  padding: 0;
  /* border: 1px solid #4d54b3; */
  width: 20em;
}

.airdate {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

.notes {
  font-size: 0.5em;
  padding-left: 1em;
  margin: 0;
  padding: 0;
}

.votes {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  font-style: italic;
}

.centered {
  text-align: center;
}

tr.even td {
  background-color: #eee;
}

tr.odd  td {
  background-color: #fff;
}

