  <li>

  <div>
  <span class="rank"><%= a.rank %></span>
  <div class="episode"><a href=''>Episode <%= a.no %></a>
    <span class="airdate">on air <%= a.airdate %></span>
  <br/>
  <span class="notes"><%= a.notes || '<br/>' %></span>
  </div>

  <span class="votes">x <br/>votes</span>
  </div>

  </li>

