<%
  top_ten = nil unless defined?(top_ten)
  top_ten = nil if local_assigns[:top_ten].nil?
%>

<table>
 <tr>
  <th>ASOT</th>
  <th><%= link_to_if(by_votes? && !top_ten, "Airdate", index_path(:anchor => y.to_s)) %></th>
  <th><%= link_to_if(by_airdate? && !top_ten, "Rank", byrank_path(:anchor => y.to_s)) %></th>
  <% unless top_ten -%>
  <th>Year <br />Rank</th>
  <% end -%>
  <th>Votes</th>
  <th>Notes</th>
 </tr>
  <%= render :partial => 'asot', :collection => asots, :locals => {:top_ten => top_ten} %>
</table>

