<%
  hide_yearrank = nil unless defined?(hide_yearrank)
  hide_yearrank = nil if local_assigns[:hide_yearrank].nil?
%>

<table>
 <tr>
  <th>#</th>
  <th><%= link_to_if(by_votes? && !hide_yearrank, "Airdate", index_path) %></th>
  <th>Rank</th>
  <% unless hide_yearrank -%>
  <th>Year <br />Rank</th>
  <% end -%>
  <th><%= link_to_if(by_airdate? && !hide_yearrank, "Votes", byvotes_path) %></th>
  <th>Notes</th>
 </tr>
  <%= render :partial => 'asot', :collection => asots, :locals => {:hide_yearrank => hide_yearrank} %>
</table>

