<h2>FAQ</h2>

 <ul id='faq'>

   <li><div class='q'>Have animals or software tools been hurt during the creation of BAE?</div>

   <div class='a'>BAE is written in <a href='http://ruby-lang.org' target='_blank'>Ruby</a> and uses <a href='http://rubyonrails.com' target='_blank'>Ruby on Rails</a>. Behind the scenes, <a href='http://www.sqlite.org' target='_blank'>SQLite</a> and <a href='http://code.whytheluckystiff.net/hpricot/' target='_blank'>Hpricot</a> are heavily abused, but certainly not hurt. No animals have been hurt.</div>

</li>


 </ul>


