<h2>FAQ</h2>

 <ul id='faq'>

   <li><div class='q'>Where are all the episodes from 2005, 2004 and the years before that?</div>

   <div class='a'>Unfortunately, only episodes since January 2006 (i.e. starting with #230) are considered here because I could not find the forum post (with its votes) for many of the older episodes. Therefore I made a cut at 2006 and decided to start from that.</div>

</li>


 <li><div class='q'>Are there any other excellent episodes not listed here?</div>

   <div class='a'>Yes, for sure, some of the older ones before 2006, including:

<p>
<ul>
<li><a href="http://forums.di.fm/trance/armin-van-buuren-presents-state-of-trance-episode-229-yearmix-2005-a-94022/" target='_blank'>Episode 229, Year Mix 2005</a></li>

<li><a href="http://forums.di.fm/trance/armin-van-buuren-presents-state-of-trance-episode-228-top-20-of-2005-a-93733/" target='_blank'>Episode 228, Top 20 of 2005</a></li>

<li><a href="http://forums.di.fm/trance/armin-van-buuren-presents-state-of-trance-episode-200-xxl-82208/" target='_blank'>Episode 200 XXL, 4 hour show</a></li>

<li><a href="http://forums.di.fm/trance/armin-van-buuren-presents-state-of-trance-episode-182-yearmix-2004-a-94028/" target='_blank'>Episode 182, Year Mix 2004</a></li>

<li>Episode 181, Top 20 of 2004</li>
</ul>
</p>

</div>

</li>


   <li><div class='q'>Is there any episode missing for the listed years?</div>

   <div class='a'>Yes, unfortunately. Episode 354 is missing because I could not find the di.fm forum post for it.</div>

</li>

   <li><div class='q'>Have animals or software tools been hurt during the creation of BAE?</div>

   <div class='a'>BAE is written in <a href='http://ruby-lang.org' target='_blank' rel="nofollow">Ruby</a> and uses <a href='http://rubyonrails.com' target='_blank' rel="nofollow">Ruby on Rails</a>. Behind the scenes, <a href='http://www.sqlite.org' target='_blank' rel="nofollow">SQLite</a> and <a href='http://code.whytheluckystiff.net/hpricot/' target='_blank' rel="nofollow">Hpricot</a> are heavily abused, but certainly not hurt. No animals have been hurt.</div>

</li>
 </ul>


