<h1>Best ASOT ever</h1>

<h2>Top ASOTs off all time</h2>
<table>
 <tr>
  <th>#</th>
  <th>airdate</th>
  <th>rank</th>
  <th>notes</th>
  <th>votes</th>
  <th></th>
 </tr>
  <%= render :partial => 'asot', :collection => @by_votes[0..9] %>
</table>


<h2>Latest ASOTs</h2>
<table>
  <%= render :partial => 'asot', :collection => @latest %>
</table>


<h2>All ASOTs (<%= @all_asots.length%> and counting)</h2>
<table>
  <%= render :partial => 'asot', :collection => @all_asots %>
</table>
